/* Full background */
.app-root {
  width: 100vw;
  height: 100vh;
  background-color: #F4F6FA;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Desktop Message */
.desktop-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 2rem;
}
.desktop-message {
  text-align: center;
}
.logo {
  width: 120px;
  height: auto;
  margin-bottom: 16px;
}
.desktop-message h1 {
  color: #5B6CFF;
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.desktop-message p {
  color: #555;
  font-size: 1rem;
}

/* Mobile App Hidden by Default */
.mobile-app {
  display: none;
}

/* Show app only on small screens */
@media (max-width: 768px) {
  .desktop-message {
    display: none;
  }

  .mobile-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}
