/* Full background */
.app-root {
  width: 100vw;
  height: 100vh;
  background-color: #F4F6FA;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Desktop Message */
.desktop-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 2rem;
}
.desktop-message {
  text-align: center;
}

.desktop-message h1 {
  color: #5B6CFF;
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.desktop-message p {
  color: #555;
  font-size: 1rem;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: #F4F6FA;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mobile-app {
    display:none;
  }

/* Logo styling */
.logo {
  display: block;
}




/* Show app only on small screens */
@media (max-width: 768px) {
  .desktop-message {
    display: none;
  }

  .mobile-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  .page-wrapper {
  padding: 0 16px;   /* 👈 left & right margin for ALL pages */
  margin-top: 16px;
}
  .top-bar {
  position: fixed;        /* stick to top */
  top: 0;
  left: 0;

  width: 100vw;           /* full screen width */
  height: 49px;

  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 16px;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  z-index: 1000;
}
  .logo {
  height: 22px;     /* small & clean */
  width: auto;
}
}

  

